<nav class="navbar navbar-expand-lg navbar-DARK bg-dark">
    <a class="navbar-brand" href="#">Angular assignment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="userform">UserForm</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="calculator">Calculator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="apidata">Api Call</a>
        </li>
      </ul>
    </div>
  </nav>